.education-section {
  background-color: var(--bg-color);
  color: var(--text-color);
  padding: 80px 20px;
}

.education-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  margin-top: 30px;
}

.edu-card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: var(--nav-bg);
  border-radius: 8px;
  overflow: hidden;
  transition: transform 0.3s, box-shadow 0.3s;
  padding: 20px;
}

.edu-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.15);
}

.edu-logo {
  width: 100%;
  height: 200px; /* Adjust height as needed */
  margin-bottom: 20px;
  overflow: hidden;
}

.edu-logo img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  object-position: center;
}

.edu-details {
  text-align: center;
  justify-content: center;
}

.edu-details h3 {
  margin-bottom: 5px;
  justify-content: center;
}

.edu-location,
.edu-degree,
.edu-dates {
  font-style: italic;
  color: var(--text-color);
  margin-bottom: 10px;
}

.edu-focus ul {
  list-style: disc inside;
  color: var(--text-color);
}

.edu-focus li {
  margin-bottom: 5px;
  font-size: 0.95rem;
}
